
/*
Colors used:
H1 Highlights (Dark gray): #7F7F7F;
body text (Midle Gray): #AAB0BB;
background (light Gray): #F5F5F5;
Head mini banner (blue light gray): #C8D1DB;
Red Highlights:#F0566A
header background #C8D1DB

Font Size
H1 40 pt
Body Text 18 pt
buttons / header mini banner 12 pt

*/

{
 box-sizing: border-box;
}

header {

  background-color: #FFFFFF;
  text-align: center;
  padding: 10px 0;
  margin: 10px;
  -webkit-box-shadow: 0px 4px 5px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    0px 4px 5px 0px rgba(50, 50, 50, 0.75);
  box-shadow:         0px 4px 5px 0px rgba(50, 50, 50, 0.75);
  position: fixed;
  width: 100%;

}
.logo {
    max-width: 250px;
    padding: 10px 0;
    margin: 10px 0;
}

body {
  background-color:#F5F5F5;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.6;
  color: #7F7F7F;
}

h1 {
	font-size: 3.5em;
}
h2 {
	font-size: 1.5em;
}
h3 {
	font-size: 1.5em;
}
h4 {
	font-size: 1.25em;
}
h5 {
	font-size: 0.8em;
}


Image Reponsive sizing
img {
  width: 100%;
}
*/

/* buttons */
a {
  color: #7F7F7F;
  font-weight: bold;
  text-decoration: none; /* No underlining */
}
a:hover {
  color: #F0566A;
  text-decoration: underline; /* Underlining when hovering over a link */
}
a:active { /* selected link */
  color: #AAB0BB;
}
a:visited { /* visited section */
  color: #551A8B;
}

/* Layout styling */
.container {
  padding: 0 15px;
}

.row {
  margin: 25px 0; /* 25px top and bottom, 0 left and right */
}

#hero h1 {
    text-align: center;}
#hero h2 {
        text-align: center;}

/* Layout styling */

        nav > ul {
          list-style-type: none;
          padding: 0;
        }
        nav > ul > li {
  display: inline-block;
        }
        nav > ul > li > a {
    padding: 0 15px;
    text-transform: uppercase;
    font-weight: 700;
    color: #4a4a4a;
       }

nav>ul>li>a:hover {
  color: #F0566A;
  border-bottom: 3px solid #F0566A;
}

/* keep at the very end of the style doc*/
.button {
  display: inline-block;
  background-color: #F5F5F5;
  color: #7F7F7F; /* needed to override the default link color */
  font-weight: 200;
  padding: 15px;
  border-radius: 8px;
  border: 2px solid #7F7F7F; /* width of the border, type, color */
  transition: 0.2s opacity;
}
.button:hover {
 opacity: 0.8; /* Reduces the opacity of the button to 80% */
 text-decoration: none;
}
